<main>
    <h2>Log In:</h2>
    <form method="POST">
        <label>Email:</label>
        <input type="email" placeholder="Enter your Email" name="email" value="{{email}}">
        <label>Password:</label>
        <input type="password" placeholder="Enter your Password" name="password">

        <input type="submit" class="login" value="Login">
    </form>

</main>