<main>
    <h2>Create your accout:</h2>
    <form method="POST">
        <label>Name:</label>
        <input type="text" placeholder="Name" name="name" value={{name}}>
        <label>Email:</label>
        <input type="email" placeholder="Email" name="email" value={{email}}>
        <label>Password:</label>
        <input type="password" placeholder="Password" name="password">
        <label>Repeat Password:</label>
        <input type="password" placeholder="Repeat Password" name="rePassword">
        <input type="submit" class="register" value="Register">

    </form>

</main>