<tr>
	<td>
		<p>{{merchant}}</p>
		<div class="report">
			<a href="#">Report</a>
		</div>
	</td>
	<td>
		<img src="/images/amount.png" alt="">
		<p>лв {{total}}</p>
	</td>
	<td>
		<img src="/images/category.png" alt="">
		<p>{{category}}</p>
	</td>
	<td>
		<img src="/images/hastag.png" alt="">
		<p>{{description}}</p>
	</td>
</tr>