<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home Page</title>

	<!-- Do not forget to change the path to the css file -->
	<link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>


	<div id="box">

		<!-- In case of error, you should display div with class "error-container" -->
		<!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
		{{#if errors}}
		<div class="error-container">
			<p>{{{errors}}}</p>
		</div>
		{{/if}}

		<nav>
			<!-- Do not forget to change the path to the image -->
			<img src="/img/logo.png" alt="logo">

			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/custom/all">All Posts</a></li>
				{{#if user}}
				<!-- Logged users -->
				<li><a href="/custom/create">Create Post</a></li>
				<li><a href="/custom/own-posts">Posts of {{user.email}}</a></li>
				<li><a href="/user/logout">Logout</a></li>
				{{else}}
				<!-- Guest users -->
				<li><a href="/user/register">Register</a></li>
				<li><a href="/user/login">Login</a></li>
				{{/if}}
			</ul>

		</nav>
		{{{body}}}


		<footer>
			© Js Back-End Exam 2021
		</footer>
	</div>

</body>

</html>