
    <h2>Register</h2>
        <div class="spacer">
            <form method="POST">
                <label>Username:</label>
                <input type="text" name="username" placeholder="username..." value="{{username}}">
                <label>Password:</label>
                <input type="password" name="password" placeholder="password...">
                <label>Repeat password:</label>
                <input type="password" name="rePassword" placeholder="repeat password...">
                <input type="submit" value="Register">
            </form>
        </div>
    </section>


