<form action="" method="POST">
	<h1>Register</h1>

	<p>Personal info</p>
	<label for="username">Username</label>
	<input id="username" type="text" placeholder="JustMyself123..." name="username" value="{{username}}">

	<label for="password">Password</label>
	<input id="password" type="password" placeholder="******" name="password">

	<label for="repeat-password">Repeat Password</label>
	<input id="repeat-password" type="password" placeholder="******" name="rePassword">
	<hr>
	<p>Account</p>
	<label for="amount">Amount</label>
	<input id="amount" type="text" placeholder="$125.90" name="amount" value="{{amount}}">

	<button type="submit">Register</button>
</form>